[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
python-multipart = "*"
uvicorn = "*"
pytest = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
asyncpg = "*"
python-dotenv = "*"
aiofiles = "*"
nltk = "*"
aiohttp = "*"
pymongo = "*"
motor = "*"
ruff = "*"
python-keycloak = "*"
python-jose = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.12"
